<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        link(rel="stylesheet" href="../public/stylesheets/all.min.css")
        link(rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap")
        link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous")
        link(rel="stylesheet" href="../public/stylesheets/style.css")
        title #{title}
    body
    if user
        .container
            .account
                a(href="/accountEdit/"+user.id title="Профиль").account_link
                    if user.accountImg
                        span.account_box
                            img.account_img(src=`../public${user.accountImg}` alt=``)
                    span.account_name #{user.name}
                a(href="#!" title="Меню" onclick="accounntMenu()").account_menu
                    span.account_icon 
                        <i class="fal fa-chevron-down"></i>
                ul.account_menu_list.account_menu_none
                    li.account_menu_item
                        a(href="/accountEdit/"+user.id).account_menu_link Аккаунт
                    li.account_menu_item
                        a(href="/logout").account_menu_link Выйти
        include fixedMenu
    .container
        != messages('message', locals)
        if errors 
            .alert.alert-danger
                |Пожалуйста введите
                each error, i in errors 
                    |  #{error.msg} 
        if message 
            .alert.alert-danger
                each mes, i in message
                    | #{mes}
        block content
    include footer

